[Unit]
Description=Update reticulum-wikipedia from Git
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/rns-update.sh
